

@font-face {
    font-family: 'Letter Gothic Std';
    src: url(../admin/fonts/LetterGothicStd.otf);
}


@font-face {
    font-family: 'Letter Gothic Std';
    src: url(../admin/fonts/LetterGothicStd.otf);
}

body p {font-family: 'Letter Gothic Std';}

div {
    font-family: 'Letter Gothic Std';
}

body{background-color: #201d1b;
    font-family: 'Letter Gothic Std';
}




#nav ul {
    font-family: 'Letter Gothic Std';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


